.member{
	margin-top: 20px;
	margin-bottom: 5px;
}

.member-name{
	color: #4E5356;
	font-size: 16px;
}

.member-as{
	font-size: 12px;
	color: #474545;
	font-weight: bold;
}

.content h2{
	color: #47A3DA;
}

.modal-container{
	background-color: #F8F8F8; 
}

.separator-details{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.modal-image{
	margin-bottom: 20px;
}

.modal-text{
	font-size: 14px;
	text-align: justify;
}

@media screen and (max-width: 768px){
	.member-name{
		font-size: 12px;
	}

	.member-as{
		font-size: 10px;
	}
}