body{
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo-img{
	width: 80px;
	margin-right: 20px;
}

.logo-text{
	font-size: 36px;
	font-family: 'Josefin Sans', sans-serif;
	color: #246FD8;
}

.header-social{
	padding-top: 15px;
}

.header-social a{
	margin-left: 10px;
}

.icon-navbar{
	width: 32px;
}
