body{
	padding-top: 20px;
	font-family: 'Lato normal', sans-serif;
}

.wrap{
	min-height: 100%;
}

.logo-img{
	width: 80px;
	margin-right: 20px;
	display: inline-block !important;
}

.logo-text{
	font-size: 40px;
	font-family: Tangerine_Bold;
	color: #47A3DA;
}

.logout{
	padding-top: 10px;
}

.logout > a{
	color: black;
	margin-left: 15px;
}

.logout > a:hover{
	color: red;
}

.header-social{
	padding-top: 10px;
}

.header-social span{
	color: #47A3DA;
}

.header-social span:hover{
	color: #0F71AA;
}

.header-social a{
	margin-left: 20px;
}

.icon-navbar{
	width: 32px;
}

.footer-content{
	border: 1px solid grey;
	border-bottom: 0;
	background-color: #666;
	color: white;
}

.align-copyright{
	margin-top: 30px;
}

.header-clasification{
	font-size: 26px;
	color: #246FD8;
}

.table-spacing tr, .table-spacing td{
	padding-bottom: 1px!important;
	padding-top: 1px!important;
}

.main-content{
	box-shadow: 0 0 10px #C6C6C6;
}

@media (max-width: 768px){
	.align-copyright{
		margin-top: 10px;
	}

	.header-social a{
		margin-right: 10px;
	}
}